.about-header{
  height: 980px;
  background-image: url('/img/source/about-bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
}
.about-header-inner{

}
.about-header-inner-t{
	height: 10%;
	display: flex;
	flex-flow: row nowrap;
	padding: 1% 5%;
	font-size: 30px;
	color: #F5AB35!important;
	font-weight: 300;
  background-color: rgba(0,0,0,0.7);
}
.about-header-section{
  height: 65%;
  display: flex;
  flex-flow: column nowrap;
}
.about-header-about{
  height: 70%;
  text-align: center;
  text-transform: uppercase;
	font-weight: 400;
	color: #ba812c;
	letter-spacing: 10px;
  vertical-align: text-bottom;
  display: flex;
  flex-direction: column-reverse;
  margin: 30px 0;
}
.about-header-title{
  text-transform: uppercase;
	font-weight: 400;
	height: 30%;
	font-size: 80px;
  text-align: center;
}
.about-section-t{
  padding: 20px 5%;
	text-align: center;
	color: #F5ab35;
}
