.home-container{
	height: auto;
}
.home-header{
	height: 980px;
}
.home-header-inner{
	background:linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(0,0,0,1));
}

.home-header-inner-t{
	height: 10%;
	display: flex;
	flex-flow: row nowrap;
	padding: 1% 5%;
	font-size: 30px;
	color: #F5AB35!important;
	font-weight: 300;
}
.home-header-inner-m{
	height: 90%;
	padding: 1% 5%;
	color: #F5AB35!important;
	font-weight: 300;
}
.home-header-nav{
	height: 100%;
	padding: 23px;
}
.home-header-nav-item{
	height: 100%;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}
.home-header-nav-item:hover{
	color: #F5AB35!important;
}
.home-header-logo{
	height: 100%;
}
.home-header-logo>img{
	height: 100%;
}
.home-header-link{
	color: #F5AB35!important;
}
.home-header-content-top{
	text-align: center;
	height: 10%;
}
.content-logo{
	text-transform: uppercase;
	font-weight: 400;
	height: 80%;
	font-size: 65px;
}
.content-by{
	text-transform: uppercase;
	font-weight: 400;
	height: 20%;
	color: #ba812c;
	letter-spacing: 10px;
}
.home-header-content-middle{
	height: 70%;
	padding: 80px 0;
}
.content-middle-info{
	font-weight: 400;
	color: #fff;
	/* background-color: #000; */
}
.content-middle-title{
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 10px;
	/* border-bottom: 1px solid #ba812c; */
	padding: 5px;
	cursor: pointer;
}
.content-title-active{
	color: #ba812c;
}
.content-middle-text{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 65px;
	margin: 20px 0;
}
.content-middle-more{
	text-transform: uppercase;
}
.content-middle-img{
	text-align: center;
}
.more{
	height:40px;
	padding: 10px;
	font-size: 20px;
	/* border-radius: 20px; */
	text-align: center;
	font-weight: 400;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;
	box-sizing: border-box;
	background-color: #000;
	color: #F5AB35;
	border: 1px solid #F5AB35;
	line-height: 1;
}
.more:hover {
	background-color: #F5AB35;
	color: #000;
}
.home-header-content-bottom{
	height: 20%;
	text-align: center;
}
.header-content-bottom-question{
	font-size: 40px;
	font-weight: 400;
}
.alone{
	font-size: 30px;
	font-weight: 300;
	margin: 0 20px;
	padding: 0 20px;
	border-radius: 25px;
	line-height: 1.5;
	border: 1px solid #F5AB35;
	cursor: pointer;
}
.alone>img{
	height: 40px;
}
.alone:hover{
	color: #000;
	background-color: #F5AB35;
	border: 1px solid #F5AB35;
}





/* section: ; */



.home-section{
	height: auto;
}
.home-section-t{
	padding: 20px 5%;
	text-align: center;
	color: #F5ab35;
}

.how-it-works{
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	font-family: 'Akrobat',sans-serif;
}
.how-it-works-title{
	text-align: center;
	font-size: 20pxr;
	font-weight: 100!important;
	color: #f9f9f9;
}
.how-it-works-info{
	padding: 20px;
}
.how-it-works-item{

}
.how-it-works-item-title{
		font-family: 'Akrobat',sans-serif;
		font-size: 40px;
}
.how-it-works-item-text{
		font-size: 20px;
		color: #fff;
		font-weight: 100;
		padding: 0 20px;
}
.how-it-works-link{
		height: 40px;
		padding: 10px 5px;
		margin: 20px 30%;
		width: 40%;
		border: 1px solid #f5ab35;
		border-radius: 20px;
		transition: color 0.2s ease-in-out;
		cursor: pointer;
}
.how-it-works-link:hover{
		color: #000;
		background-color: #f5ab35;
}
