<div class="uk-width-1-1 home-container">

	<div class="uk-width-1-1 about-header">
	    <div class="uk-width-1-1 uk-height-1-1 about-header-inner">
				<div class="about-header-inner-t uk-width-1-1 ">
					<div class="home-header-logo uk-width-1-2"><img src="./img/source/foursquare.svg" alt=""></div>
					<div class="home-header-nav uk-flex uk-flex-between uk-width-1-2">
						<div class="home-header-nav-item" ui-sref='home'>Главная</div>
						<div class="home-header-nav-item">Наши Сервисы</div>
						<div class="home-header-nav-item" ui-sref='about'>О нас</div>
						<div class="home-header-nav-item home-header-link">Войти</div>
						<!-- <div class="home-header-nav-item home-header-link">Зарегистрироваться</div> -->
					</div>
				</div>
        <div class="about-header-section">
          <div class="about-header-about">Flat Friend</div>
          <div class="about-header-title">о нас</div>
          <!-- <hr class="uk-divider-icon"> -->
        </div>
        <hr class="uk-divider-icon">
        <div class="about-section-t">
          <div class="about-section-t-title">
            <div class="about-section-t-title">
              Наша история
            </div>
          </div>
        </div>
	    </div>
	</div>
	<!-- section -->
</div>
