<div class="uk-width-1-1 home-container">

	<div class="uk-width-1-1 home-header">
		<div class="uk-height-1-1 uk-flex uk-background-cover uk-light"
	     data-src="./img/source/back.jpg" uk-img>
	    <div class="uk-width-1-1 uk-height-1-1 home-header-inner">
				<div class="home-header-inner-t uk-width-1-1 ">
					<div class="home-header-logo uk-width-1-2"><img src="./img/source/foursquare.svg" alt=""></div>
					<div class="home-header-nav uk-flex uk-flex-between uk-width-1-2">
						<div class="home-header-nav-item">Главная</div>
						<div class="home-header-nav-item">Наши Сервисы</div>
						<div class="home-header-nav-item" ui-sref='about'>О нас</div>
						<div class="home-header-nav-item home-header-link">Войти</div>
						<!-- <div class="home-header-nav-item home-header-link">Зарегистрироваться</div> -->
					</div>
				</div>
				<div class="home-header-inner-m uk-width-1-1">
					<div class="home-header-content-top uk-width-1-1">
						<div class="content-logo uk-width-1-1">
								flat friend
						</div>
						<div class="content-by uk-width-1-1">
								by Brogrammers
						</div>
					</div>
					<!-- Hider -->
					<div class="home-header-content-middle uk-flex uk-width-1-1" ng-if='vm.content'>
						<div class="content-middle-info uk-height-1-1 uk-width-1-2">
							<div class="content-middle-title uk-width-1-1 uk-flex">
								<div class="uk-width-1-5 content-title-active">Соседи</div>
								<div class="uk-width-2-5" ng-click='vm.content=false'>Арендадатели</div>
							</div>
							<div class="content-middle-text uk-animation-slide-left-small">Найдите <br> идеального соседа <br> с  помощью <br> нашего сервиса</div>
							<div class="content-middle-more uk-width-1-4 uk-animation-slide-left-small"><div class="more">Подробнее</div></div>
						</div>
						<div class="content-middle-img uk-height-1-1 uk-width-1-2 uk-animation-slide-right-small">
							<img src="./img/source/mates.png" alt="">
						</div>
					</div>
					<div class="home-header-content-middle uk-flex uk-width-1-1" ng-if='!vm.content'>
						<div class="content-middle-info uk-height-1-1 uk-width-1-2">
							<div class="content-middle-title uk-width-1-1 uk-flex">
								<div class="uk-width-1-5" ng-click="vm.content=true">Соседи</div>
								<div class="uk-width-2-5 content-title-active">Арендадатели</div>
							</div>
							<div class="content-middle-text uk-animation-slide-left-small">В flatfriend <br>вы сами выбираете <br> кому сдавать <br> квартиру</div>
							<div class="content-middle-more uk-width-1-4 uk-animation-slide-left-small"><div class="more">Подробнее</div></div>
						</div>
						<div class="content-middle-img uk-height-1-1 uk-width-1-2 uk-animation-slide-right-small">
							<img src="./img/source/apply.png" alt="">
						</div>
					</div>
					<!-- Hider end -->

					<!-- <div class="home-header-content-bottom uk-width-1-1">
							<div class="header-content-bottom-question uk-flex uk-flex-center">Я хочу жить <div class="alone">один <img src="./img/source/woman.svg" alt=""></div><div class="alone">с соседями <img src="./img/source/team.svg" alt=""></div></div>
					</div> -->
				</div>
	    </div>
		</div>
	</div>
	<!-- section -->
	<div class="home-section">
		<div class="home-section-t uk-width-1-1@m">
			<div class="how-it-works">Как это работает</div>
			<hr class="uk-divider-small">
			<div class="how-it-works-title">Всегда тяжело найти квартиру или комнату <br> Мы сделели это проще и удобнее</div>
			<div class="how-it-works-info uk-flex">
				<div class="how-it-works-item uk-width-1-3">
					<div class="ow-it-works-item-img">
						<img src="./img/source/apartment.png" alt="">
					</div>
					<div class="how-it-works-item-title">Найти квартиру</div>
					<div class="how-it-works-item-text">
						Благодоря нам вы найдете квартиру своей мечты. Послк того как вы найдете квартиры вы можете связаться с хозяином через наш чат
					</div>
					<div class="how-it-works-link">Найти квартиру</div>
				</div>
				<div class="how-it-works-item uk-width-1-3">
					<div class="ow-it-works-item-img">
						<img src="./img/source/mates.png" alt="">
					</div>
					<div class="how-it-works-item-title">Найти сожителя</div>
					<div class="how-it-works-item-text">
						Если вы студент и вам нужна квартра но у вас не хватает денег то вы попали куда надо. Найдите человека который будет снимать с вами квартиру
					</div>
					<div class="how-it-works-link">Найти сожителя</div>
				</div>
				<div class="how-it-works-item uk-width-1-3">
					<div class="ow-it-works-item-img">
						<img src="./img/source/apply.png" alt="">
					</div>
					<div class="how-it-works-item-title">Управлять доступом</div>
					<div class="how-it-works-item-text">
						Если вы устали вы устали что вам постоянно звонят пустые клиенты здесь вы сами настраивате кто будет вашим клиентом
					</div>
					<div class="how-it-works-link">Узнать больше</div>
				</div>
			</div>
		</div>
	</div>




</div>
